@font-face {
  font-family:SVN-Segoe UI;
  src: url(fonts/SVN-Segoe UI.ttf);
}
body {
  font-family: 'SVN-Segoe UI';
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
  background-color: #fff;
  font-size: 16px;
  color:#101010;}
::-webkit-scrollbar {
  width: 6px; }
::-webkit-scrollbar-track {
  background: #E2E2E2; }
::-webkit-scrollbar-thumb {
  background: #707070;
  border-radius: 10px; }
::-webkit-scrollbar-thumb:hover {
  background: #707070;
  width: 6px; }

img {max-width: 100%; }

a:hover{color:#FF7900;text-decoration: none;}

input:focus,a:focus,button:focus,select:focus {
  outline: none !important; 
  box-shadow: none !important;}

a,textarea:focus, input:focus {color: #101010;}
p,h3 {margin-bottom: 0; }

.navbar{border-bottom: 1px solid #E9EBEF; background-color: #fff;}
.mt-200{transform: translateY(200px);}
.hot-news img{width: 100%; height: 100%}
.hot-news h6{
  position: absolute;
  left: 15px;
  bottom: 15px;
  width: 90%;
  z-index: 2;
  color: #fff;
  font-family: 'Playfair Display', serif;}
.hot-news .left{ height: 575px; overflow-y: hidden; }
.hot-news .left a h6{
  font-size: 24px;
  line-height: 32px;}
  .hot-news .left .overlay-content:after{min-height:200px;}
  .hot-news a:hover h6{color:#FF7900;}
  .hot-news .right a h6{
    font-size: 18px;
    line-height: 24px;}
    .hot-news .right .item{height: 280px; overflow-y: hidden;}
    .hot-news .right .item:nth-child(1){margin-bottom: 15px;}
    .hot-news .right .item:nth-child(2){padding-right: 7px;}
    .hot-news .right .item:nth-child(3){padding-left: 8px;}
    .hot-news .right .overlay-content:after{min-height:120px;}
.overlay-content{
  display: block;
  position: relative;}
.overlay-content:after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  min-height: 100px;
  vertical-align:bottom;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );}
.title,.highlights-news .item h5,.most-read-news .item h5,
.other-category ul li{
    position: relative;
    font-size:18px;
    line-height: 24px;
    font-family: 'Playfair Display', serif;}
.date-time{
  color: #707070;
  margin-bottom: 5px;}
.title-cate{
  text-transform: uppercase;
  position: relative;
  margin-bottom: 30px;
  font-size:22px;
  line-height: 24px;  
  font-family: 'Playfair Display', serif;}
.highlights-news{
  padding-bottom: 30px;
  margin-bottom:60px;
  border-bottom: 1px solid #C9CED8;}
  .highlights-news .title-cate,.other-news .title-cate{text-indent: 23px;}
  .highlights-news .title-cate:after,.other-news .title-cate:after{
    position: absolute;
    content: "";
    height: 32px;
    width: 8px;
    display: block;
    left: 0;
    bottom: -5px;
    background-color: #FF7900;}
  .highlights-news .title{
    margin-bottom:15px;
    margin-top:25px;}
    .highlights-news .hot{padding-right: 45px;}
    .highlights-news .hot p{line-height: 24px;}
  .highlights-news .item{position: relative; margin-bottom: 30px;}
    .highlights-news .item .img{
      position: absolute;
      width: 140px;
      height: 88px;
      overflow: hidden;
      display: block;
      left: 15px;
      top: 0;}
    .highlights-news .item .content{margin-left: 160px;}
.most-read-news .item{
  padding-bottom:15px;
  margin-bottom: 25px;
  border-bottom: 1px solid #C9CED8}
  .most-read-news .img img{width: 100%}
    .most-read-news .item h5{margin-top: 25px;}
.other-category ul{list-style-type: none;}
  .other-category ul li{
    position: relative;
    margin-bottom: 15px;
  }
  .other-category ul li:after{
    position: absolute;
    left: -30px;
    top: 40%;
    content: "";
    background-color: #C9CED8;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    display: block;
  }
  .other-category ul li a{color:#707070}
  .other-category ul li a:hover{color:#FF7900;}
.other-news .item{margin-bottom: 30px;}
  .other-news .item .img{
    display: inline-block;
    width: 45%;
    margin-right: 6%;
    max-height: 240px;
    overflow: hidden;
    vertical-align: top;
  }
  .other-news .item .img img{width: 100%}
  .other-news .item .content{
    width: 48%;
    display: inline-block;}

.view-more{
  border:1px solid #FF7900;
  padding:5px 30px;
  color:#FF7900;}
  .view-more:hover{background-color:#FF7900;color:#fff;}


@media (min-width: 1200px){
  .container{max-width: 1380px;}
}
@media (max-width: 992px){
  .mt-200{ transform: translateY(0px); }
  .hot-news .right .item{margin-top: 15px;}
  .hot-news .right .item:nth-child(1){margin-bottom: 0px;}
  .hot-news .left,.hot-news .right .item{height: auto;}
  .highlights-news .hot{padding-right:15px; margin-bottom: 30px;}
  .most-read-news{margin-top:45px;}
  .other-news .item .img{width: 100%; margin-bottom: 15px;}
  .other-news .item .content{width: 100%}
}