body {
  font-family: 'arial';
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
  background-color: #fff;
  font-size: 14px;
  color:#202124;}
::-webkit-scrollbar {
  width: 6px; }
::-webkit-scrollbar-track {
  background: #E2E2E2; }
::-webkit-scrollbar-thumb {
  background: #707070;
  border-radius: 10px; }
::-webkit-scrollbar-thumb:hover {
  background: #707070;
  width: 6px; }
img {
  max-width: 100%; }
a{color:#202124; }
a:hover{color:#EF8000;text-decoration: none;}
input:focus,
a:focus,
button:focus,
select:focus {
  outline: none !important; 
  box-shadow: none !important;}
textarea:focus, input:focus {color: #000;}
p,h3 {margin-bottom: 0; }

.navbar-brand{padding-top:0; padding-bottom: 0;}
.navbar-brand img{max-height: 40px;}
.left-container{margin-top: 25px; margin-bottom: 30px;}
.right-container{
  position:fixed;
  top: 73px;
  right: 0;
  margin-top:15px;
  border-radius: 4px;}
  .right-container .maps{ border-radius: 4px;}
.navbar{box-shadow: 0 0 6px rgba(0,0,0,.3);}
  .navbar-expand-lg .navbar-toggler{
    border:none;
    display: block;}
  .navbar-toggler-icon{width:1.3rem; height: 1.3rem}
  .bg-light{background-color: #fff!important}
.btn-large{
  font-size: 14px;
  padding:15px 30px;
  font-weight: 500;
  background-color: #F4F4F4;
  border-radius: 4px;
  display:block;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  text-transform: uppercase;}
  .btn-large:hover,.btn-large.active{
    background-color: #EF8000;
    color: #fff;}
.icon-menu{
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right:15px;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align:middle;}
  .btn-large .icon-home{background-image: url(../images/icon-home.png);}
  .btn-large.active .icon-home,
  .btn-large:hover .icon-home{background-image: url(../images/icon-home-active.png);}

  .btn-large .icon-task{background-image: url(../images/icon-task.png);}
  .btn-large.active .icon-task,
  .btn-large:hover .icon-task{background-image: url(../images/icon-task-active.png);}

  .btn-large .icon-notification{background-image: url(../images/icon-notification.png);}
  .btn-large.active .icon-notification,
  .btn-large:hover .icon-notification{background-image: url(../images/icon-notification-active.png);}
  .icon-notification span{
    background-color: #FF0000;
    min-width: 18px;
    min-height: 18px;
    padding:0px 3px;
    border-radius: 50px;
    color: #fff;
    font-size: 10px;
    display: inline-block;
    text-align: center;
    margin-left: 12px;
    top: 13px;
    border: 2px solid #F4F4F4;
    font-style: normal;
    position: absolute;}
.main-search{
  margin-bottom: 40px;}
.main-search input {
  font-size: 14px;
  height: 36px;
  color:#707070;
  position: relative;
  border-radius: 4px;
  border-color: #DADCE0;
  margin-bottom: 15px;}

 .main-search select.form-control{
  font-size: 14px;
  height: 36px;
  color:#707070;
  position: relative;
  border-radius: 4px;
  border-color: #fff;
  position: relative;
  text-indent: 30px;
  -webkit-appearance: none;
    -moz-appearance: none;
  background-image: url(../images/arrow.png);
  background-size: 12px 8px;
  background-repeat: no-repeat ;
  background-position: 96% 50%}
  .select-search{
    border-radius: 4px;
    border:1px solid #DADCE0;
    position: relative;
    margin-bottom: 15px;}
     .select-search span{
      position: absolute;
      top: 5px;
      left: 15px;
      z-index: 2}
      .select-search select.form-control option{height: 52px; min-height: 52px;}
.btn-orange{
  font-size: 14px;
  padding:7px 30px;
  font-weight: 500;
  border-radius: 4px;
  display: inline-block;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #EF8000;
  color: #fff;}
.search-advanced{
  color: #EF8000;
  border-radius: 4px;
  padding:3px 5px 5px 5px;}
  .search-advanced:hover{ text-decoration: underline; }
    .search-advanced .icon{
      background: url(../images/icon-search-advanced.png) no-repeat center;
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      margin-left: 5px;}
.search-result-number{color: #707070; margin-bottom: 25px;}
  .search-result-number .form-sort-result{
    display: inline-block;
    position: relative;
    margin-left: 15px;}
  .search-result-number .form-sort-result select{
    color: #707070;
    border:1px solid #DADCE0;
    border-radius: 4px;
    width: 180px;
    padding: 5px 15px 5px 35px;
    -webkit-appearance: none;
      -moz-appearance: none;
    background-image: url(../images/arrow.png);
    background-size: 12px 8px;
    background-repeat: no-repeat ;
    background-position: 96% 50%;
    position:relative;}
  .search-result-number .form-sort-result:after{
    position:absolute;
    content: "";
    top: 7px;
    left: 10px;
    z-index: 9;
    background: url(../images/icon-up-down.png) no-repeat center;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;}
  .search-result-number .result{display: inline-block;}
  .search-result-number .result b{color: #EF8000;}

.page-link{color: #EF8000;border:1px solid #DADCE0;}
.page-item.disabled .page-link{border-color: #DADCE0}
.page-link:hover{background-color: #DADCE0;color: #EF8000;}
.page-item.disabled .page-link{color: #707070}
.panel-default{
  border:1px solid #DADCE0;
  border-radius: 4px;
  margin-bottom: 20px;}
  .items .items-thumbnnail{
    border-radius: 4px;
    overflow: hidden;
    background-color: #e9ecef;
    max-height: 200px;
    line-height: 200px;
    text-align: center;}
    .items .items-thumbnnail img{max-width: 100%; max-height: 100%}
.items .items-detail{
  display: inline-block;
  padding: 15px;
  vertical-align: top;
  padding-left: 0px;
  padding-bottom: 0px;
  cursor: pointer;}
  .items .function a{
    color: #707070;
    font-size: 16px;
    padding: 0 5px;
    margin:0 5px;}
    .items .function a:hover{color: #EF8000;}
    .items .function a:last-child{margin-right:0;}
  .items .items-detail .items-title{
    width:60%;
    display: inline-block;
    min-height: 120px;}
    .items .items-detail .items-title h3{font-size: 20px;margin-bottom: 15px}
    .items .items-status{color: #EF8000;}
    .items .items-title .items-status span,.items .items-price span{
      color: #707070; 
      margin-right: 15px;
      width: 80px;
      display: inline-block;}
  .items .items-price{
    width:37.5%;
    display: inline-block;
    vertical-align: top;
    text-align: right;}
    .items .items-price h3{
      font-size: 20px;
      background-color: #EF8000;
      color: #fff;
      border-radius: 3px;
      display: inline-block;
      padding:3px 15px;
      font-weight: 500;
      margin-bottom: 30px;
      margin-top: 30px;}
    .items .label-orange{
      color: #EF8000;
      border-radius: 4px;
      padding:2px 8px;
      margin-bottom: 0;}
    .items .label-green{
      color: #29B765;
      border-radius: 4px;
      padding:2px 8px;
      margin-bottom: 0;}
.items .items-user{
  position:absolute;
  bottom: 0px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -15px;
  border-top:1px solid #e9ecef}
.items .items-user .user{
  display: inline-block;
  margin-left:15px;
  color: #707070;}
  .items .items-user .user i{
    color: #707070;
    border:1px solid #DADCE0;
    padding:.40rem .45rem; 
    border-radius: 50px;
    margin-right: 15px;
    font-size: 14px;}
    .items .items-user a{
      border-radius: 20px;
      background: #F5F5F5;
      border:1px solid #F5F5F5;
      padding:2px 15px;
      margin:0 5px;}
      .items .items-user a:hover{
        border:1px solid #e9ecef;
        background: #Fff;
      }
.items .items-user .btn-arrow{
  display: inline-block;
  border:1px solid #DADCE0;
  padding:.115rem .415rem;
  position:relative;
  color: #707070;
  text-align: right;
  position: absolute;
  right: 15px;
  font-size: 14px;}
  .items .items-user .btn-arrow:hover{
    color:#fff;
    border:1px solid #EF8000; 
    background-color: #EF8000}
.view-items-detail {padding:0 15px;}
  .view-items-detail .detail{padding-top:15px;border-right:1px solid #E2E2E2;}
  .view-items-detail .detail p{margin-bottom: 10px;}
  .view-items-detail .detail span{color: #707070; margin-right: 5px;}
  .view-items-detail .detail .detail-realestate{
    list-style-type: none;
    padding-left: 0;
    color: #707070;
    margin-bottom: 0px;
    margin-top: 15px;}
    .view-items-detail .detail .detail-realestate li{
      display: inline-block;
      width: 49%; 
      vertical-align: middle;
      margin-bottom: 5px;}
      .view-items-detail .detail .detail-realestate li i{width: 20px; display: inline-block;}
  .view-items-detail .nav-tabs{border-bottom: 0;}
  .view-items-detail .nav-item{
    position: relative;
    margin-bottom: 5px}
    .view-items-detail .nav-item:hover{cursor: pointer;}
  .view-items-detail .nav-item .nav-link{
    display:block;
    vertical-align: middle;
    padding:.3rem 0.75rem;}
    .view-items-detail .tab-tacvu .nav-item .nav-link{margin-left: 22px;}
  .view-items-detail .nav-item .active,.view-items-detail .nav-item .nav-link:hover{
    background-color: #F5F5F5; 
    border-radius: 50px;
    color: #EF8000;
    position: relative;
    border-color: #F5F5F5}
    .view-items-detail .nav-item .active:after,
    .view-items-detail .nav-item .nav-link:hover:after{
      content: "";
      position: absolute;
      right: 12px;
      top: 50%;
      border: solid #707070;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transform: translateY(-50%) rotate(-45deg);
    -webkit-transform: translateY(-50%) rotate(-45deg);}
  .view-items-detail .info{list-style-type: none;padding-left: 0}
    .view-items-detail .info li{margin-bottom: 8px;}
    .view-items-detail .info li label{color: #707070;width: 90px; display: inline-block;}
    .view-items-detail .info li p{color:#EF8000;display: inline-block;width:72%; vertical-align:top;}
  .view-items-detail .line-divider{
    height: 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;}
.custom-control-input:checked~.custom-control-label::before{
  border-color:#EF8000;
  background-color:#EF8000;}
  .tab-tacvu .custom-checkbox{
    display: inline-block;
    position: absolute;
    top: 3px;}
.view-items-detail .info-edit input,
.view-items-detail .info-edit select,
.view-items-detail .info-edit textarea,
.view-items-detail .info-edit div.input-group{
  display: inline-block;
  width: 69%;
  vertical-align: middle;}
  .view-items-detail .info-edit input,.view-items-detail .info-edit select{height: 32px;}
  .view-items-detail .info-edit div.input-group span{display: inline-block;}
  .view-items-detail .info-edit div.input-group button{height: 32px;}
  .view-items-detail .info-edit div.input-group input{width: 88.6%}
  .view-items-detail .info-edit div.input-group i{top:6px;}
  .view-items-detail .info-edit .form-control{padding:0.175rem .75rem}
.list-notification{ margin-top: 35px; margin-bottom: 35px; }
.list-notification .items{
  border-bottom: 1px solid #DADCE0;
  padding-bottom: 15px;
  margin-bottom: 15px;}
  .list-notification .items .thumb{
    width: 14%; 
    display: inline-block; 
    vertical-align: top;
    margin-right:15px}
    .list-notification .items .thumb img{border-radius: 5px;}
  .list-notification .items .detail{width:83.5%; display: inline-block;}
  .list-notification .items .title-noti h4{
    width: 80%; 
    display: inline-block;
    font-size: 14px;
    font-weight:bold;}
  .list-notification .items .title-noti .current-date{
    color: #787878;
    font-size: 12px;
    width: 18%; 
    display: inline-block;
    text-align: right;}
  .list-notification .items .title{
    font-size: 14px;
    font-weight:bold;
    margin-bottom: 5px;
    margin-top: 10px;}
    .list-notification .items.unread .detail{
      opacity: 0.7;
      filter: alpha(opacity=70);}
.list-notification .items.success .title-noti h4{color: #29B765}
.list-notification .items.update-new .title-noti h4{color: #EF8000}
.list-notification .items.update-result .title-noti h4{color: #FF0000}



@media screen and (max-width: 1440px) {
  .view-items-detail .info-edit div.input-group input{width: 84%}
}